PUBLIC_BASE_URL=http://127.0.0.1:3000

GITLAB_BASE_URL=https://gitlab.com
GITLAB_OAUTH_CLIENT_ID=
GITLAB_OAUTH_CLIENT_SECRET=

WORKSPACE_ROOT=.data/workspaces
MAX_DIFF_BYTES=200000
MAX_CONTEXT_BYTES=120000
